<%= link_to "Home",root_path %>
<h1>Cart</h1>
<% if current_user.cart!=nil%>
  <%current_user.cart.each do |key,c|%>
   <p>Name: <%=c["name"] %></p>
   <p>Price: <%=c["price"]%></p>
   <div id="product-<%=key%>">
     <p>Quantity:<%=c["quantity"]%></p>
     <%= link_to "Delete",cart_path(:id => key), method: :delete %>
     <%= link_to "Edit",edit_cart_path(:id => key), remote: true %>
   </div>
   <br><br><br>
  <%end%>
<% end %>

<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: $<%= calculate_total_amount(current_user.cart)/100 %></span>
    </label>
  </article>

  <%= hidden_field_tag(:price, calculate_total_amount(current_user.cart)) %>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="<%= calculate_total_amount(current_user.cart) %>"
          data-locale="auto"></script>
<% end %>
