<%= link_to "Home", root_path %>
<h1>My Products</h1>
<% @products.each do |product| %>
<%= product.name %><br>
<%= product.price %><br>
Quantity is <%= product.quantity%><br>
<%= product.description %>
<%= link_to "show", product_path(product) %>
<%= link_to "Edit", edit_product_path(product) %>
<%= link_to 'Delete', product_path(product), method: :delete, data: { confirm: 'Are you sure?'} %>
<br><br><br>
<% end %>





